section.section.footerSection.orangeSection
  .pure-g-r
    .pure-u-2-3.center
      | Organised by #[a(href='http://docsoc.co.uk') DoCSoc] - Imperial College London's Computing Society
    .pure-u-2-3.center
      | Design by 
      a(href='http://github.com/nkp') nkp
      |  and 
      a(href='http://github.com/xixixao') xixixao
