section.section.darkSection(data-anchor='prizes')
  .pure-g-r
    .pure-u-1
      .smallSectionHeadline
        h1 IC Hack '15 Prize Winners
    .pure-u-1
      .prize
        .prize-value Sparkling Lemon - Michelin Star Dinner & £500
        .prize-description Grand Prize
        .prize-sponsor GoCardless + DoCSoc
    .pure-u-1-2
      .prize
        .prize-value Sparkling Lemon - £500
        .prize-description Netcraft's Choice
        .prize-sponsor Netcraft
    .pure-u-1-2
      .prize
        .prize-value Invalid Bone - £500
        .prize-description Additional Netcraft's Choice
        .prize-sponsor Netcraft
    .pure-u-1-2
      .prize
        .prize-value Listn - Raspberry Pis & £200
        .prize-description Best use of Esri API
        .prize-sponsor Esri UK
    .pure-u-1-2
      .prize
        .prize-value Niket - Pebble Watch
        .prize-description Esri Developer Account Raffle
        .prize-sponsor Esri UK
    .pure-u-1-2
      .prize
        .prize-value Train Me - Raspberry Pi 2s
        .prize-description Best use of Braintree API
        .prize-sponsor Braintree
     .pure-u-1-2
       .prize
         .prize-value Precisely - Parrot Drones
         .prize-description Best Team using Bloomberg API
         .prize-sponsor Bloomberg
     .pure-u-1-1
      .prize
        .prize-value Uber or nah? - Quadcopters
        .prize-description Attendees' Choice
        .prize-sponsor DoCSoc
   
